/* stilos de la ventan*/

*{
    margin: 0;
    padding: 0;
}

section {
    background-color: hsl(217 54% 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo del card */

.card {
    width: 300px;
/*     display: flex; */
    background-color: hsl(216 50% 16%);
    border-radius: 14px;
}

/* elementos del contenedor */

.card-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.imagen-principal {
    border-radius: 14px;
    height: 250px;
}

.text-white {
    color: #fff;
    font-weight: bold;
}

.contenedor2 {
    margin-left: 20px;
    margin-right: 20px;
}

.text-gray {
    margin-top: 15px;
    color: #fff;
    opacity: 0.3;
}

.contenedor-detalle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}

.text-eth {
    color: hsl(178, 100%, 50%);

}

.text-reloj {
    color: #fff;
    opacity: 0.5;
}

/* contenedor del autor - pie de cartilla */

.contenedor-autor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.autor {
    margin-left: 10px;

}